.home-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #61dafb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.input{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
