.Parent{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
img{
    height: auto;
    max-width: 100%;
}
@media (max-width:700px){
    body{
        background-color: yellow;
    }
}
@media (min-width:700px){
    body{
        background-color: red;
    }
}