*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: bisque;
    box-shadow: 0mm 0mm 3mm;
}

.list-items{
    display: flex;
    list-style: none;
    gap: 3rem;
    
}

.list-items a {
    color: black;
    text-decoration: none;
}

.unactive{
    display: none;
}

.list2{
    display: flex;
    gap: 3rem;
    list-style: none;
    flex-direction: column;
}

.close{
    display: none;
}

a{
    color: black;
    text-decoration: none;
}

.btn{
    all: unset;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .list-items{
        display: none;
        flex-direction: column;
        position: relative;
    }

    .bars{
        display: block;
    }

    .close{
        display: block;
    }
}