*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.Parent{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, rgb(194, 188, 188), white);
    width: 100%;
    height: 100vh;
    /* padding: 10%; */
}
.free{
    background: linear-gradient(45deg, rgb(61, 61, 61), gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(82, 77, 77);
    gap: 24px;
    max-width: 400px;
    width: 100%;
    padding: 10px 2%; 
}
img{
    border-radius: 50%;
    max-width: 50%;
    height: 50%;
}
h1{
    color: white;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}
#free1:hover{
    background: linear-gradient(to bottom right, rgb(138, 4, 234), silver);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
#silver:hover{
    background: linear-gradient(to bottom right,  rgb(166, 91, 91), white);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
#gold:hover{
    background: linear-gradient(to bottom right, gold, silver);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width:1200px){
     .Parent {
        flex-wrap: wrap;
    }
}