*{
    box-sizing: border-box;
}
.Parent{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.box1{
    background-color: orange;
    color: white;
    text-align: center;
    width: 33%;
    padding: 10px;
}
.box2{
    background-color: blue;
    color: white;
    text-align: center;
    width: 33%;
    padding: 10px;
}
.box3{
    background-color: green;
    color: white;
    text-align: center;
    width: 33%;
    padding: 10px;
}